@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent react flow to overflow the page */
body {
  overflow: hidden;
}

.App {
  text-align: center;
}

.label {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

.react-flow__node {
  width: auto;
  height: auto;
  border-radius: auto;
  min-width: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: w95fa;
  src: url("assets/w95fa.woff") format("woff");
}

.jv-indent {
  overflow-y: auto !important;
  max-height: 310px !important;
  border-radius: 10px;
}

.jv-indent::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  border-radius: 10px;
}
*::-webkit-scrollbar {
  width: 16px !important;
  height: 8px !important;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  border-radius: 0!important;
}

::-webkit-scrollbar-thumb {
  background: silver;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
  border: 1px solid;
  border-color: silver #000 #000 silver;
  border-radius: 0 !important;
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--placeholder-foreground)) !important;
} */

.jv-indent::-webkit-scrollbar-track {
  background-color: hsl(var(--muted)) !important;
  border-radius: 10px;
}

.jv-indent::-webkit-scrollbar-thumb {
  background-color: hsl(var(--border)) !important;
  border-radius: 999px !important;
}

.jv-indent::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--placeholder-foreground)) !important;
}

.custom-hover {
  transition: background-color 0.5s ease;
}

.custom-hover:hover {
  background-color: rgba(
    99,
    102,
    241,
    0.1
  ); /* Medium indigo color with 20% opacity */
}

/* This CSS is to not apply the border for the column having 'no-border' class */
.no-border.ag-cell:focus {
  border: none !important;
  outline: none;
}
.no-border.ag-cell {
  border: none !important;
  outline: none;
}

/* .react-flow__edge.selected .react-flow__edge-path {
  stroke: var(--selected) !important;
  stroke-width: 2px !important;
} */
.react-flow__controls-button svg {
  fill: none !important;
}

.react-flow__controls-button:hover {
  background-color: var(--silver) !important;
}

.react-flow__edge .react-flow__edge-path {
  transition: color;
  stroke: white !important;

  transition-duration: 150ms;
  stroke-width: 4px !important;

}
.react-flow__connection path {
  transition: color;
  stroke: white !important;
  stroke-width: 4px !important;
}

.react-flow__edge.running .react-flow__edge-path {
  stroke: hsl(var(--foreground)) !important;
  stroke-width: 2px !important;
}

.react-flow__edge.not-running .react-flow__edge-path {
  stroke: hsl(var(--foreground)) !important;
  stroke-width: 1px !important;
}

.react-flow__edge.ran .react-flow__edge-path {
  stroke: hsl(var(--foreground)) !important;
  stroke-width: 2px !important;
}

.ag-react-container {
  width: 100%;
  height: 100%;
}

.react-flow__resize-control.handle {
  width: 0.75rem !important;
  height: 0.75rem !important;
  border-color: var(--border) !important;
  z-index: 50 !important;
  border-radius: 20% !important;
}

code {
  font-family: var(--font-mono) s !important;
}

.ag-cell {
  --ag-internal-calculated-line-height: none !important;
}

.ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
  --ag-internal-calculated-line-height: none !important;
}

.arrow-hide::-webkit-inner-spin-button,
.arrow-hide::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.ag-large-text-input.ag-text-area.ag-input-field {
  background-color: hsl(var(--background)) !important;
}

.ag-large-text-input.ag-text-area.ag-input-field textarea {
  resize: none !important;
  height: 100% !important;
}

.ag-theme-alpine {
  --ag-borders: none!important;
  --ag-row-border-style: none!important;
  --ag-header-foreground-color: white;
  --ag-header-background-color: rgb(4, 13, 94);
}
/* ag-root-wrapper ag-ltr ag-layout-normal */
.ag-root-wrapper  {
  /* background-color: red!important; */
  font-family: "w95fa";
  background-color: var(--light-gray)!important;
}
.ag-header-container {
  background-color: var(--navy);
  border-radius: 0px!important;
}
.ag-header.ag-pivot-off {
  border-radius: 0px!important;
}
.ag-header-viewport  {
  border-radius: 0px!important;
}
.ag-header-cell-text {
  color: white;
  font-family: "w95fa";
}
/* .ag-row-even ag-row-no-focus ag-row ag-row-level-0 ag-row-position-absolute ag-row-first ag-row-not-inline-editing { */
.ag-row {
  background-color: var(--light-gray)!important;
}
.ag-header-cell-resize {
  display: none!important;
}
.ag-theme-alpine .ag-cell:hover {
  background-color: var(--light-gray)!important;
}
.ag-theme-alpine .ag-cell:hover {
  background-color: var(--light-gray)!important;
}
.ag-root, .ag-header, .ag-cell {
  background-color: var(--light-gray)!important;
}
.ag-paging-panel.ag-unselectable.ag-focus-managed {
  display: none!important;
}
.ag-icon.ag-icon-filter {
  color: white!important;
}
.ag-cell-value {
  color: black;
}
.ag-input-field-input.ag-checkbox-input {
  background: var(--silver) !important;
  
  all: inherit;
}
.ag-row-hover {
  /* all: unset!important; */
  /* background-color: red!important; */
}
.ag-row-focus {
  /* all: unset!important; */
  /* background-color: red!important; */
}
.ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-column-first.ag-cell-focus {
  /* background-color: var(--light-gray)!important; */
}
.ag-theme-alpine .ag-header {
  border-radius: 100px!important;
}


/* we set background and border radius for odd rows */
.ag-theme-alpine .ag-row-odd {
  /* background-color: red!important; */
  border-radius: 100px!important;
}

/* we set background and border radius for even rows */
.ag-theme-alpine .ag-row-even {
  /* background-color: red!important; */
  border-radius: 100px!important;
}
.ag-ltr  { /* ag-ltr ag-layout-normal */
  border-radius: 0px!important;
  /* all: unset!important; */
}
.ag-icon {
  color: white!important;
}